<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="text-input-container">
    <select [(ngModel)]="unit" (ngModelChange)="dataChanged('original')">
      <option value="" disabled selected>Seleccione una unidad</option>
      <option value="antel-arena">Antel Arena</option>
      <option value="tele-comunicaciones">Torre de las Tele Comunicaciones</option>
      <option value="otro">Otro</option>
    </select>
  </div>
  <input class="text-input" type="text" placeholder="Valor en dólares" [(ngModel)]="original" (ngModelChange)="dataChanged('original')">
  <input class="text-input" type="text" placeholder="Valor convertido" [(ngModel)]="converted" (ngModelChange)="dataChanged('converted')">
</ion-content>
